{% extends 'mailapp/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 ">
            <form class="row" method="post", enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        {% if message %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                    <a class="btn btn-primary" href="{% if message %}{% url 'mailapp:message_detail' message.pk %}{% else %}{% url 'mailapp:mail_message_list' %}{% endif %}" role="button">Отменить</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}