{% extends 'mailapp/base.html' %}
{% block content %}
<h1>Список сообщений</h1>
<p>В этом списке находятся все рассылки.</p>
{% if mailings %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Дата и время первой отправки</th>
            <th scope="col">Дата и время последней отправки</th>
            <th scope="col">Статус рассылки</th>
            <th scope="col">Сообщение</th>
            <th scope="col">Частота рассылки</th>
          </tr>
        </thead>
        <tbody>
        {% for mailing in mailings %}
          <tr>
            <th scope="row">{{ mailing.pk }}</th>
            <td>{{ mailing.start_time }}</td>
            <td>{{ mailing.end_time }}</td>
            <td>{{ mailing.status }}</td>
            <td>{{ mailing.message|truncatechars:100 }}</td>
            <td>{{ mailing.frequency }}</td>
            <td><a href="{% url 'mailapp:mailing_detail' mailing.pk %}">Подробнее</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% else %}
    <p>Ваш список рассылок пуст.</p>
{% endif %}
<a href="{% url 'mailapp:mailing_create' %}" class="card-link">Добавить рассылку</a>
{% endblock %}