{% extends 'mailapp/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1>Главная страница</h1>
    <p>Добро пожаловать в приложение для создания и рассылки электронных писем.</p>
    <h2>Статистика</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Всего рассылок</th>
                <th scope="col">Активных рассылок</th>
                <th scope="col">Уникальных получателей</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td>{{ count_mailing }}</td>
                <td>{{ count_active_mailing }}</td>
                <td>{{ count_unique_recipients }}</td>
            </tr>
        </tbody>
    </table>
{% else %}
<h1>Добро пожаловать в приложение для создания и рассылки электронных писем!</h1>
<p>Чтобы начать использовать приложение, войдите в систему с помощью своего аккаунта.</p>
<a class="btn btn-primary" href="{% url 'users:login' %}">Войти</a>
<p>Еще не зарегистрированы? <a href="{% url 'users:register' %}">Регистрация</a></p>
{% endif %}
{% endblock %}