<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <a class="p-2 btn btn-outline-primary" data-bs-toggle="dropdown">Аккаунт</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">New project</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailapp:recipient_list' %}" role="button">Главная</a>
        <a class="p-2 btn btn-outline-primary" href="#">Панель</a>
        <a class="p-2 btn btn-outline-primary" href="#">Заказы</a>
        <a class="p-2 btn btn-outline-primary" href="#">Продукты</a>
        <a class="p-2 btn btn-outline-primary" href="#">Клиенты</a>
    </nav>
</div>


