{% extends 'mailapp/base.html' %}
 
 {% bloc title %}Список получателей{% endblock %}
 
 {% block content %}
 <h1>Список получателей</h1>
 <p>В этом списке находятся все адреса электронной почты, которые были добавлены в ваш список рассылки.</p>
 
 {% if recipients %}
 <ul>
     {% for recipient in recipients %}
     <div class="card" style="width: 18rem;">
         <div class="card-body">
             <h5 class="card-title">{{ recipient.full_name }}</h5>
             <h6 class="card-subtitle mb-2 text-body-secondary">{{ recipient.email }}</h6>
             <a href="{% url 'mailapp:recipient_detail' recipient.pk %}" class="card-link">Подробнее</a>
         </div>
     </div>
     {% endfor %}
 </ul>
 {% else %}
 <p>Ваш список получателей пуст.</p>
 {% endif %}
 <center>
     {% if page_obj.has_previous %}
     <a href="?page={{ page_obj.previous_page_number }}">Предыдущая страница</a>
     {% endif %}
     &nbsp; &nbsp;
     Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
     &nbsp; &nbsp;
     {% if page_obj.has_next %}
     <a href="?page={{ page_obj.next_page_number }}">Следующая страница</a>
     {% endif %}
 </center>
 {% endblock %}